.floor {
  position: fixed;
  z-index: 1001;
  width: 40px;
  height: 500px;
  left: 10px;
  top: 250px;
  display: none;
}

.floor ul {
  width: 40px;
  height: 500px;
}

.floor ul .floor-active {
  border-bottom: 1px solid #d70b1c;
  margin-bottom: -1px;
  border-color: #d70b1c;
  background-color: #d70b1c;
}

.floor ul li {
  border-top: 1px solid #b1aaaa;
  overflow: hidden;
  display: block;
  width: 30px;
  padding: 10px 5px;
  line-height: 14px;
  font-size: 14px;
  color: #fff;
  background: #666;
  cursor: pointer;
  text-align: center;
}

.floor ul li:hover {
  border-bottom: 1px solid #d70b1c;
  margin-bottom: -1px;
  border-color: #d70b1c;
  background-color: #d70b1c;
}

.allbanner {
  width: 100%;
  height: 360px;
}

.allbanner .banner {
  width: 1423px;
  height: 360px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.allbanner .banner .bannerleft {
  width: 1423px;
  height: 360px;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}

.allbanner .banner .bannerleft .bannerimgbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 1423px;
  height: 360px;
  overflow: hidden;
}

.allbanner .banner .bannerleft .bannerimgbox .bannerimg.active {
  transform: scale(1);
}

.allbanner .banner .bannerleft .bannerimgbox .bannerimg {
  width: 770px;
  height: 360px;
  position: absolute;
  top: 0;
  left: 332px;
  margin: 0 auto;
  transform: scale(1.04);
  transition: all 4s;
}

.allbanner .banner .bannerleft .bannernum {
  width: 770px;
  height: 21px;
  position: absolute;
  top: 320px;
  left: 332px;
  z-index: 10;
}

.allbanner .banner .bannerleft .bannernum span {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #999;
  color: #fff;
  float: left;
  text-align: center;
  line-height: 21px;
  margin-right: 5px;
  cursor: pointer;
}

.allbanner .banner .bannerleft .bannernum span:nth-of-type(1) {
  margin-left: 330px;
}

.allbanner .banner .bannerleft .bannernum .active1 {
  background: #fff;
  color: #000;
}

.allbanner .banner .bannerright {
  width: 200px;
  height: 360px;
  position: absolute;
  left: 1022px;
  top: 0;
  overflow: hidden;
}

.allbanner .banner .bannerright div {
  width: 200px;
  height: 119px;
  border-bottom: 1px dotted #ddd;
  position: absolute;
  left: 0;
  top: 0;
  transition: left 0.6s;
}

.allbanner .banner .bannerright div img {
  height: 119px;
  width: 100%;
}

.allbanner .banner .bannerright div:nth-of-type(2) {
  top: 120px;
}

.allbanner .banner .bannerright div:nth-of-type(3) {
  top: 240px;
}

.allbanner .banner .bannerright div:hover {
  left: -15px;
}

.allmadbuying {
  margin-top: 30px;
  width: 100%;
  height: 480px;
}

.allmadbuying .madbuying {
  width: 1200px;
  height: 480px;
  margin: 0 auto;
}

.allmadbuying .madbuying .madbuyingleft {
  width: 328px;
  height: 460px;
  float: left;
  background: #ff827f;
}

.allmadbuying .madbuying .madbuyingleft .madbuyinglefttop {
  padding-top: 50px;
  width: 252px;
  padding-left: 16px;
  height: 95px;
  margin-left: 30px;
}

.allmadbuying .madbuying .madbuyingleft .madbuyingleftmid {
  margin-left: 30px;
  width: 268px;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  margin-top: 45px;
}

.allmadbuying .madbuying .madbuyingleft .madbuyinglefttimer {
  margin-left: 30px;
  width: 268px;
  height: 45px;
  margin-top: 26px;
}

.allmadbuying .madbuying .madbuyingleft .madbuyinglefttimer span {
  float: left;
  width: 34px;
  height: 45px;
  background: #fff;
  color: #000;
  font-size: 32px;
  text-align: center;
  line-height: 45px;
  border-radius: 8px;
  margin-right: 5px;
}

.allmadbuying .madbuying .madbuyingleft .madbuyinglefttimer span:nth-of-type(1) {
  margin-left: 10px;
}

.allmadbuying .madbuying .madbuyingleft .madbuyinglefttimer b {
  float: left;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  width: 10px;
  line-height: 45px;
}

.allmadbuying .madbuying .madbuyingleft .madbuyingleftbottom {
  margin-left: 30px;
  margin-top: 20px;
  padding-left: 63px;
  width: 205px;
  height: 52px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  position: relative;
  font-weight: 600;
}

.allmadbuying .madbuying .madbuyingleft .madbuyingleftbottom span {
  background: url(../imgs/madbuyingicon.png) -14px -15px no-repeat;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 180px;
  top: 14px;
}

.allmadbuying .madbuying .madbuyingleft .madbuyinglefton {
  margin-left: 30px;
  width: 268px;
  height: 26px;
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
  color: #fff;
}

.allmadbuying .madbuying .madbuyingright {
  width: 870px;
  height: 458px;
  float: left;
  border: 1px solid #e7e7e7;
  border-left: none;
  border-right: none;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrighttop {
  position: relative;
  margin-left: 15px;
  width: 856px;
  height: 67px;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrighttop ul {
  width: 826px;
  height: 67px;
  height: 66px;
  border-bottom: 1px dashed #e7e7e7;
  margin: 0 20px;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrighttop ul li {
  float: left;
  width: 119px;
  height: 45px;
  color: #000;
  padding: 18px 0px 3px 0px;
  cursor: pointer;
  position: relative;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrighttop ul li i {
  display: none;
  width: 44px;
  height: 2px;
  background: #ed4044;
  position: absolute;
  bottom: 0;
  left: 0;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrighttop ul .madbuyingon p {
  font-size: 14px;
  font-weight: 700;
  color: #ed4044;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrighttop ul li:nth-of-type(1) {
  margin-left: 30px;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrighttop ul li:nth-of-type(7) {
  width: 79px;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom {
  position: relative;
  margin-left: 15px;
  width: 856px;
  height: 364px;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom .madbuyingrightbottomgoods {
  overflow: hidden;
  width: 856px;
  height: 366px;
  position: absolute;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom .madbuyingrightbottomgoods ul:nth-of-type(4) {
  display: block;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom .madbuyingrightbottomgoods ul {
  position: absolute;
  margin-top: 15px;
  height: 366px;
  display: none;
  width: 1498px;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom .madbuyingrightbottomgoods ul li {
  width: 171px;
  float: left;
  height: 328px;
  padding: 18px 20px 20px 20px;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom .madbuyingrightbottomgoods ul li .madbuyingimg {
  width: 155px;
  height: 154px;
  cursor: pointer;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom .madbuyingrightbottomgoods ul li .madbuyingimg img {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom .madbuyingrightbottomgoods ul li .madbuyingimg img:hover {
  transform: translateY(-5px);
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom .madbuyingrightbottomgoods ul li .madbuyingtitle {
  margin-top: 50px;
  font-size: 12px;
  color: #000;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 16px;
  width: 171px;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom .madbuyingrightbottomgoods ul li .madbuyingtitle:hover {
  color: #248DCC;
  cursor: pointer;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom .madbuyingrightbottomgoods ul li .madbuyingprice {
  color: #dd2727;
  margin-top: 10px;
  width: 171px;
  height: 26px;
  font-size: 12px;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom .madbuyingrightbottomgoods ul li .madbuyingprice span {
  float: left;
  line-height: 26px;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom .madbuyingrightbottomgoods ul li .madbuyingprice span:nth-of-type(2) {
  color: #dd2727;
  font-size: 20px;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom .madbuyingrightbottomgoods ul li .madbuyingprice span:nth-of-type(3) {
  text-decoration: line-through;
  margin-left: 5px;
  font-size: 12px;
  color: #999;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom .madbuyingrightbottomgoods ul li .madbuyingline {
  width: 171px;
  height: 5px;
  border-radius: 30px;
  background: #d7d7d7;
  margin-top: 20px;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom .madbuyingrightbottomgoods ul li .madbuyingover {
  margin-top: 15px;
  margin-left: 25px;
  width: 171px;
  height: 30px;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom .madbuyingrightbottomgoods ul li .madbuyingover span {
  display: block;
  background: #cdcdcd;
  width: 120px;
  height: 30px;
  line-height: 30px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  text-align: center;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom .madbuyingarrowl {
  width: 29px;
  height: 64px;
  background: url(../imgs/madbuyingicon.png) no-repeat;
  background-position: -12px -76px;
  position: absolute;
  top: 122px;
  left: -16px;
  z-index: 100;
  cursor: pointer;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom .madbuyingarrowr {
  width: 29px;
  height: 64px;
  background: url(../imgs/madbuyingicon.png) no-repeat;
  background-position: -45px -76px;
  position: absolute;
  top: 122px;
  right: -5px;
  z-index: 100;
  cursor: pointer;
}

.allmadbuying .madbuying .madbuyingwave {
  height: 45px;
  background: url(../imgs/madbuyingwave.png) no-repeat;
  animation: 8s linear 0s none infinite tweenx;
  margin-top: 23px;
  -webkit-animation: 8s linear 0s none infinite tweenx;
  -moz-animation: 8s linear 0s none infinite tweenx;
}

.allnewtaste {
  margin-top: 30px;
  width: 100%;
  height: 330px;
}

.allnewtaste .newtaste {
  width: 1200px;
  height: 330px;
  margin: 0 auto;
}

.allnewtaste .newtaste .newtasteleft {
  width: 328px;
  height: 330px;
  position: relative;
  float: left;
}

.allnewtaste .newtaste .newtasteleft .newtastelefcover {
  background: #ed499b;
  opacity: 0.8;
  width: 245px;
  height: 200px;
  position: absolute;
  bottom: 20px;
  left: 41px;
}

.allnewtaste .newtaste .newtasteleft .newtastelefcover .newtasteleftall {
  width: 233px;
  height: 188px;
  position: absolute;
  top: 5px;
  left: 5px;
  border: 1px solid #fff;
}

.allnewtaste .newtaste .newtasteleft .newtastelefcover .newtasteleftall .newtasteleftall1 {
  font-size: 45px;
  width: 233px;
  height: 60px;
  text-align: center;
  color: #fff;
}

.allnewtaste .newtaste .newtasteleft .newtastelefcover .newtasteleftall .newtasteleftall2 {
  width: 233px;
  height: 16px;
  font-size: 12px;
  text-align: center;
  color: #fff;
}

.allnewtaste .newtaste .newtasteleft .newtastelefcover .newtasteleftall .newtasteleftall3 {
  width: 233px;
  height: 16px;
  margin-top: 5px;
}

.allnewtaste .newtaste .newtasteleft .newtastelefcover .newtasteleftall .newtasteleftall3 img {
  margin-left: 18px;
}

.allnewtaste .newtaste .newtasteleft .newtastelefcover .newtasteleftall .newtasteleftall4 {
  width: 233px;
  height: 16px;
  font-size: 12px;
  text-align: center;
  color: #fff;
}

.allnewtaste .newtaste .newtasteleft .newtastelefcover .newtasteleftall .newtasteleftall5 {
  width: 233px;
  height: 26px;
  font-size: 20px;
  text-align: center;
  color: #fffc00;
}

.allnewtaste .newtaste .newtasteleft .newtastelefcover .newtasteleftall .newtasteleftall6 {
  background: #fffc00;
  height: 30px;
  line-height: 30px;
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 0;
  width: 233px;
}

.allnewtaste .newtaste .newtasteleft .newtastelefcover .newtasteleftall .newtasteleftall6 a {
  color: #444;
}

.allnewtaste .newtaste .newtasteleft .newtastelefcover .newtasteleftall .newtasteleftall6 a:hover {
  color: #248DCC;
}

.allnewtaste .newtaste .newtasteright {
  width: 871px;
  height: 328px;
  border: 1px solid #e7e7e7;
  float: right;
  border-left: 0;
  cursor: pointer;
}

.allnewtaste .newtaste .newtasteright ul {
  width: 873px;
  height: 326px;
}

.allnewtaste .newtaste .newtasteright ul li {
  padding: 30px 0 30px 30px;
  width: 261px;
  float: left;
}

.allnewtaste .newtaste .newtasteright ul li .newtasterighttop {
  padding-right: 30px;
  border-right: 1px solid #e7e7e7;
  width: 230px;
  height: 132px;
}

.allnewtaste .newtaste .newtasteright ul li .newtasterighttop h2 {
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  font-size: 14px;
  width: 230px;
  height: 19px;
}

.allnewtaste .newtaste .newtasteright ul li .newtasterighttop p:nth-of-type(1) {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #999;
  font-size: 12px;
  width: 230px;
  height: 16px;
  margin-top: 5px;
}

.allnewtaste .newtaste .newtasteright ul li .newtasterighttop .newtasterighttopprice {
  color: #FF0000;
  font-size: 14px;
  width: 230px;
  height: 19px;
  margin-top: 10px;
}

.allnewtaste .newtaste .newtasteright ul li .newtasterighttop div {
  width: 230px;
  height: 43px;
  margin-top: 20px;
}

.allnewtaste .newtaste .newtasteright ul li .newtasterighttop div p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 5px;
  width: 230px;
  height: 16px;
  color: #999;
}

.allnewtaste .newtaste .newtasteright ul li .newtasterightbottom {
  margin-top: 15px;
  position: relative;
  width: 261px;
  height: 119px;
}

.allnewtaste .newtaste .newtasteright ul li .newtasterightbottom img {
  position: absolute;
  top: -10px;
  right: 0px;
  width: 145px;
  height: 145px;
  z-index: -1;
  text-align: right;
}

.alldetail,
.alldetail1,
.alldetail2,
.alldetail3,
.alldetail4,
.alldetail5 {
  height: 580px;
  width: 100%;
  margin-top: 30px;
}

.alldetail .detail,
.alldetail1 .detail,
.alldetail2 .detail,
.alldetail3 .detail,
.alldetail4 .detail,
.alldetail5 .detail {
  height: 580px;
  width: 1200px;
  margin: 0 auto;
}

.alldetail .detail .detailtop,
.alldetail1 .detail .detailtop,
.alldetail2 .detail .detailtop,
.alldetail3 .detail .detailtop,
.alldetail4 .detail .detailtop,
.alldetail5 .detail .detailtop {
  padding-bottom: 10px;
  color: #333;
  font-size: 20px;
  height: 26px;
  width: 1200px;
}

.alldetail .detail .detailtop i,
.alldetail1 .detail .detailtop i,
.alldetail2 .detail .detailtop i,
.alldetail3 .detail .detailtop i,
.alldetail4 .detail .detailtop i,
.alldetail5 .detail .detailtop i {
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 5px;
  background: url(../imgs/index-detailbg1.png) no-repeat;
}

.alldetail .detail .detailmiddle,
.alldetail1 .detail .detailmiddle,
.alldetail2 .detail .detailmiddle,
.alldetail3 .detail .detailmiddle,
.alldetail4 .detail .detailmiddle,
.alldetail5 .detail .detailmiddle {
  height: 477px;
  width: 1200px;
}

.alldetail .detail .detailmiddle .detailmiddlel,
.alldetail1 .detail .detailmiddle .detailmiddlel,
.alldetail2 .detail .detailmiddle .detailmiddlel,
.alldetail3 .detail .detailmiddle .detailmiddlel,
.alldetail4 .detail .detailmiddle .detailmiddlel,
.alldetail5 .detail .detailmiddle .detailmiddlel {
  width: 328px;
  height: 477px;
  position: relative;
  float: left;
}

.alldetail .detail .detailmiddle .detailmiddlel .detailmiddlelb,
.alldetail1 .detail .detailmiddle .detailmiddlel .detailmiddlelb,
.alldetail2 .detail .detailmiddle .detailmiddlel .detailmiddlelb,
.alldetail3 .detail .detailmiddle .detailmiddlel .detailmiddlelb,
.alldetail4 .detail .detailmiddle .detailmiddlel .detailmiddlelb,
.alldetail5 .detail .detailmiddle .detailmiddlel .detailmiddlelb {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  width: 398px;
  height: 148px;
  left: 0;
  bottom: 0;
  padding: 15px;
}

.alldetail .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbt,
.alldetail1 .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbt,
.alldetail2 .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbt,
.alldetail3 .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbt,
.alldetail4 .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbt,
.alldetail5 .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbt {
  color: #666;
}

.alldetail .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbt span,
.alldetail1 .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbt span,
.alldetail2 .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbt span,
.alldetail3 .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbt span,
.alldetail4 .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbt span,
.alldetail5 .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbt span {
  float: left;
  width: 87px;
  line-height: 30px;
  height: 30px;
}

.alldetail .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbt i,
.alldetail1 .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbt i,
.alldetail2 .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbt i,
.alldetail3 .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbt i,
.alldetail4 .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbt i,
.alldetail5 .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbt i {
  float: left;
  margin-left: 10px;
  width: 27px;
  height: 27px;
  background: url(../imgs/madbuyingicon.png) no-repeat;
  background-position: -113px -170px;
}

.alldetail .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbt b,
.alldetail1 .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbt b,
.alldetail2 .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbt b,
.alldetail3 .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbt b,
.alldetail4 .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbt b,
.alldetail5 .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbt b {
  float: left;
  margin: 5px 15px 0 5px;
  color: #666;
  font-size: 14px;
  width: 59px;
  height: 19px;
  line-height: 19px;
  display: inline-block;
}

.alldetail .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbb,
.alldetail1 .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbb,
.alldetail2 .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbb,
.alldetail3 .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbb,
.alldetail4 .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbb,
.alldetail5 .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbb {
  width: 315px;
  height: 102px;
  margin-top: 10px;
}

.alldetail .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbb li,
.alldetail1 .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbb li,
.alldetail2 .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbb li,
.alldetail3 .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbb li,
.alldetail4 .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbb li,
.alldetail5 .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbb li {
  width: 87px;
  height: 24px;
  line-height: 24px;
  margin-top: 10px;
  float: left;
  text-align: center;
  border-radius: 30px;
  margin-right: 18px;
  background: #fff;
  color: #444;
  cursor: pointer;
}

.alldetail .detail .detailmiddle .detailmiddler,
.alldetail1 .detail .detailmiddle .detailmiddler,
.alldetail2 .detail .detailmiddle .detailmiddler,
.alldetail3 .detail .detailmiddle .detailmiddler,
.alldetail4 .detail .detailmiddle .detailmiddler,
.alldetail5 .detail .detailmiddle .detailmiddler {
  width: 872px;
  height: 476px;
  border-top: 1px solid #459d36;
  position: relative;
  float: right;
}

.alldetail .detail .detailmiddle .detailmiddler .detailmiddlercover,
.alldetail1 .detail .detailmiddle .detailmiddler .detailmiddlercover,
.alldetail2 .detail .detailmiddle .detailmiddler .detailmiddlercover,
.alldetail3 .detail .detailmiddle .detailmiddler .detailmiddlercover,
.alldetail4 .detail .detailmiddle .detailmiddler .detailmiddlercover,
.alldetail5 .detail .detailmiddle .detailmiddler .detailmiddlercover {
  position: absolute;
  border-right: 1px solid #e7e7e7;
  top: -35px;
  right: 0;
  width: 872px;
  height: 35px;
  text-align: right;
}

.alldetail .detail .detailmiddle .detailmiddler .detailmiddlercover ul,
.alldetail1 .detail .detailmiddle .detailmiddler .detailmiddlercover ul,
.alldetail2 .detail .detailmiddle .detailmiddler .detailmiddlercover ul,
.alldetail3 .detail .detailmiddle .detailmiddler .detailmiddlercover ul,
.alldetail4 .detail .detailmiddle .detailmiddler .detailmiddlercover ul,
.alldetail5 .detail .detailmiddle .detailmiddler .detailmiddlercover ul {
  border-left: 1px solid #e7e7e7;
  margin-right: 0px;
  width: 410px;
  height: 35px;
  float: right;
}

.alldetail .detail .detailmiddle .detailmiddler .detailmiddlercover ul li,
.alldetail1 .detail .detailmiddle .detailmiddler .detailmiddlercover ul li,
.alldetail2 .detail .detailmiddle .detailmiddler .detailmiddlercover ul li,
.alldetail3 .detail .detailmiddle .detailmiddler .detailmiddlercover ul li,
.alldetail4 .detail .detailmiddle .detailmiddler .detailmiddlercover ul li,
.alldetail5 .detail .detailmiddle .detailmiddler .detailmiddlercover ul li {
  cursor: pointer;
  float: left;
  border-bottom: 1px solid #459d36;
  border-left: #fff;
  height: 33px;
  border-top: 1px solid #e7e7e7;
}

.alldetail .detail .detailmiddle .detailmiddler .detailmiddlercover ul li span,
.alldetail1 .detail .detailmiddle .detailmiddler .detailmiddlercover ul li span,
.alldetail2 .detail .detailmiddle .detailmiddler .detailmiddlercover ul li span,
.alldetail3 .detail .detailmiddle .detailmiddler .detailmiddlercover ul li span,
.alldetail4 .detail .detailmiddle .detailmiddler .detailmiddlercover ul li span,
.alldetail5 .detail .detailmiddle .detailmiddler .detailmiddlercover ul li span {
  padding: 0 15px;
  margin-top: 7px;
  border-right: 1px solid #e7e7e7;
  font-size: 14px;
  display: block;
  text-align: center;
}

.alldetail .detail .detailmiddle .detailmiddler .detailmiddlercover ul .detailmiddlerchover,
.alldetail1 .detail .detailmiddle .detailmiddler .detailmiddlercover ul .detailmiddlerchover,
.alldetail2 .detail .detailmiddle .detailmiddler .detailmiddlercover ul .detailmiddlerchover,
.alldetail3 .detail .detailmiddle .detailmiddler .detailmiddlercover ul .detailmiddlerchover,
.alldetail4 .detail .detailmiddle .detailmiddler .detailmiddlercover ul .detailmiddlerchover,
.alldetail5 .detail .detailmiddle .detailmiddler .detailmiddlercover ul .detailmiddlerchover {
  border-left: 1px solid #459d36;
  border-right: 1px solid #459d36;
  border-top: 1px solid #459d36;
  margin-left: -2px;
  border-bottom: 1px solid #fff;
}

.alldetail .detail .detailmiddle .detailmiddler .detailmiddlerprod,
.alldetail1 .detail .detailmiddle .detailmiddler .detailmiddlerprod,
.alldetail2 .detail .detailmiddle .detailmiddler .detailmiddlerprod,
.alldetail3 .detail .detailmiddle .detailmiddler .detailmiddlerprod,
.alldetail4 .detail .detailmiddle .detailmiddler .detailmiddlerprod,
.alldetail5 .detail .detailmiddle .detailmiddler .detailmiddlerprod {
  width: 872px;
  height: 476px;
  position: absolute;
}

.alldetail .detail .detailmiddle .detailmiddler .detailmiddlerprod ul,
.alldetail1 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul,
.alldetail2 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul,
.alldetail3 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul,
.alldetail4 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul,
.alldetail5 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul {
  width: 872px;
  height: 476px;
}

.alldetail .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li,
.alldetail1 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li,
.alldetail2 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li,
.alldetail3 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li,
.alldetail4 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li,
.alldetail5 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li {
  border-bottom: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  width: 197px;
  padding: 10px;
  height: 217px;
  float: left;
  cursor: pointer;
}

.alldetail .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li .detailmiddlerprodimg,
.alldetail1 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li .detailmiddlerprodimg,
.alldetail2 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li .detailmiddlerprodimg,
.alldetail3 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li .detailmiddlerprodimg,
.alldetail4 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li .detailmiddlerprodimg,
.alldetail5 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li .detailmiddlerprodimg {
  width: 200px;
  text-align: center;
  height: 161px;
}

.alldetail .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li .detailmiddlerprodimg img,
.alldetail1 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li .detailmiddlerprodimg img,
.alldetail2 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li .detailmiddlerprodimg img,
.alldetail3 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li .detailmiddlerprodimg img,
.alldetail4 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li .detailmiddlerprodimg img,
.alldetail5 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li .detailmiddlerprodimg img {
  cursor: pointer;
  width: 156px;
  height: 156px;
  transition: all .5s ease;
  margin-left: 22px;
  margin-top: 2px;
}

.alldetail .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li .detailmiddlerprodimg img:hover,
.alldetail1 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li .detailmiddlerprodimg img:hover,
.alldetail2 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li .detailmiddlerprodimg img:hover,
.alldetail3 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li .detailmiddlerprodimg img:hover,
.alldetail4 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li .detailmiddlerprodimg img:hover,
.alldetail5 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li .detailmiddlerprodimg img:hover {
  transform: translateY(-5px);
}

.alldetail .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li h2,
.alldetail1 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li h2,
.alldetail2 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li h2,
.alldetail3 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li h2,
.alldetail4 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li h2,
.alldetail5 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li h2 {
  height: 32px;
  color: #666;
  width: 197px;
}

.alldetail .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li .detailmiddlerprodprice,
.alldetail1 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li .detailmiddlerprodprice,
.alldetail2 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li .detailmiddlerprodprice,
.alldetail3 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li .detailmiddlerprodprice,
.alldetail4 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li .detailmiddlerprodprice,
.alldetail5 .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li .detailmiddlerprodprice {
  margin-top: 5px;
  font-size: 16px;
  color: #dd2727;
}

.alldetail .detail .detailbottom,
.alldetail1 .detail .detailbottom,
.alldetail2 .detail .detailbottom,
.alldetail3 .detail .detailbottom,
.alldetail4 .detail .detailbottom,
.alldetail5 .detail .detailbottom {
  border-right: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  width: 1199px;
  height: 66px;
}

.alldetail .detail .detailbottom li,
.alldetail1 .detail .detailbottom li,
.alldetail2 .detail .detailbottom li,
.alldetail3 .detail .detailbottom li,
.alldetail4 .detail .detailbottom li,
.alldetail5 .detail .detailbottom li {
  width: 148px;
  height: 58px;
  border-left: 1px solid #e7e7e7;
  text-align: center;
  padding-top: 8px;
  float: left;
  cursor: pointer;
}

.alldetail .detail .detailbottom li img,
.alldetail1 .detail .detailbottom li img,
.alldetail2 .detail .detailbottom li img,
.alldetail3 .detail .detailbottom li img,
.alldetail4 .detail .detailbottom li img,
.alldetail5 .detail .detailbottom li img {
  width: 100px;
  height: 48px;
  margin-left: 25px;
}

.allheadline {
  height: 340px;
  width: 100%;
  margin-top: 30px;
}

.allheadline .headline {
  height: 340px;
  width: 1200px;
  margin: 0 auto;
}

.allheadline .headline .headline-top {
  width: 1200px;
  height: 26px;
  font-size: 20px;
}

.allheadline .headline .headline-bottom {
  width: 1200px;
  height: 304px;
  margin-top: 10px;
}

.allheadline .headline .headline-bottom .headline-bottom-left {
  border: 1px solid #e7e7e7;
  float: left;
  width: 853px;
  height: 302px;
  overflow: hidden;
}

.allheadline .headline .headline-bottom .headline-bottom-left ul li {
  margin: 20px;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 20px;
  height: 111px;
  overflow: hidden;
}

.allheadline .headline .headline-bottom .headline-bottom-left ul li .headline-bottom-leftimgs {
  width: 180px;
  height: 110px;
  float: left;
}

.allheadline .headline .headline-bottom .headline-bottom-left ul li .headline-bottom-leftimgs a img {
  width: 180px;
  height: 110px;
}

.allheadline .headline .headline-bottom .headline-bottom-left ul li .headline-bottom-lefttext {
  width: 616px;
  height: 110px;
  float: right;
}

.allheadline .headline .headline-bottom .headline-bottom-left ul li .headline-bottom-lefttext h2 {
  width: 616px;
  font-size: 16px;
  color: #333;
}

.allheadline .headline .headline-bottom .headline-bottom-left ul li .headline-bottom-lefttext h2:hover {
  color: #248DCC;
  cursor: pointer;
}

.allheadline .headline .headline-bottom .headline-bottom-left ul li .headline-bottom-lefttext h2 span {
  float: right;
  color: #999;
  font-size: 12px;
}

.allheadline .headline .headline-bottom .headline-bottom-left ul li .headline-bottom-lefttext p {
  height: 67px;
  line-height: 22px;
  margin-top: 20px;
  color: #999;
  font-size: 14px;
  cursor: pointer;
}

.allheadline .headline .headline-bottom .headline-bottom-right {
  float: right;
  width: 330px;
  height: 303px;
}

.allpraise {
  height: 490px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.allpraise .praise {
  height: 490px;
  width: 1200px;
  margin: 0 auto;
}

.allpraise .praise .praise-top {
  width: 1200px;
  height: 26px;
  font-size: 20px;
  position: relative;
}

.allpraise .praise .praise-top span {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
  color: #999;
}

.allpraise .praise .praise-bottom {
  border: 5px solid #ededed;
  padding: 20px 20px 15px;
  margin-top: 10px;
  height: 409px;
  width: 1150px;
  overflow: hidden;
  position: relative;
}

.allpraise .praise .praise-bottom ul {
  width: 11800px;
  position: absolute;
  height: 409px;
}

.allpraise .praise .praise-bottom ul li {
  float: left;
  width: 1170px;
  height: 409px;
  overflow: hidden;
  position: relative;
  margin-right: 10px;
}

.allpraise .praise .praise-bottom .praise-bottom-btn {
  position: absolute;
  width: 100%;
  height: 20px;
  padding: 0 10px;
  z-index: 20;
  right: 0;
  bottom: 6px;
  text-align: center;
  left: 30%;
  top: 400px;
}

.allpraise .praise .praise-bottom .praise-bottom-btn span {
  float: left;
  width: 10px;
  height: 10px;
  background: #eeefef;
  border-radius: 20px;
  margin-left: 6px;
  cursor: pointer;
  margin-top: 2px;
  display: block;
  padding-left: 0;
}

.allpraise .praise .praise-bottom .praise-bottom-btn .praise-bottom-btn-on {
  background: #a7cca3;
  width: 25px;
  padding-left: 0;
}
