/*
	logo
*/
.alllogo {
	height: 154px;
	width: 100%;
}
.logo {
	width: 1263px;
	height: 154px;
	margin: 0 auto;
	.logo-top {
		width: 100%;
		height: 120px;
		.logo-logoer {
			margin-left: 25px;
			margin-top: 7px;
			float: left;
			width: 230px;
			height: 100px;
			background: url(../imgs/epet-logo.png);
		}
		.logo-search {
			margin-left: 70px;
			float: left;
			width: 550px;
			height: 120px;
			.logo-search-top {
				width: 500px;
				height: 34px;
				margin-top: 33px;
				input {
					padding-left: 15px;
					float: left;
					width: 388px;
					height: 30px;
					border: 2px solid #459d36;
					color: #999;
				}
				span {
					float: left;
					width: 73px;
					height: 34px;
					line-height: 34px;
					color: #fff;
					background: #459d36;
					text-align: center;
				}
			}
			.logo-search-bottom {
				width: 500px;
				height: 24px;
				margin-top: 9px;
				span {
					color: #999;
					float: left;
				}
				ul {
					overflow:hidden;
					li {
						color: #999;
						padding: 0 10px;
						float: left;
						border-right: 1px solid #999;
						cursor: pointer;
					}
					li:nth-of-type(1){
						padding-left: 0;
						color: red;
					}
					li:nth-of-type(5){
						border-right: 0;
					}
				}
			}
		}
		.logo-cart {
			width: 370px;
			height: 120px;
			float: left;
			.logo-cart-phone {
				margin-top: 40px;
				float: left;
				width:160px;
				height: 45px;
				background: url(../imgs/bg.png) 0 -521px no-repeat;
			}
			.logo-carter {
				float: left;
				width: 130px; 
				height: 39px;
				background: url(../imgs/shopping-cart.gif) no-repeat;
				margin-top: 35px;
				margin-left: 80px;
				text-align: center;
				line-height: 39px;
				a {
					color: #666;
					margin-left: 20px;
					span {
						color: red;
					}
				}
			}
		}
	}
	.logo-bottom {
		width: 100%;
		height: 34px;
		position: relative;
		border-bottom: #357e34 solid 2px;	
		div {
			float: left;
			font-size: 16px;
		}
		.logo-bottom-dog {
			position: relative;
			margin-left: 25px;
			a {
				margin-left: 30px;
				color: #444;
			}
			b {
				position: absolute;
				left: 70px;
				top: 10px;
				width: 16px;
				height: 13px;
				background: url(../imgs/bg2.png) -17px -1257px no-repeat;
			}
			width: 112px;
			height: 32px;
			border: 1px solid #e1e1e1;
			cursor: pointer;
			color: #666;
			line-height: 32px;
			.logo-bottom-doggoods {
				display: none;
				height: 360px;
				width: 227px;
				position: absolute;
				top: 34px;
				background: #fff;
				.clothes {
					position: relative;
					width: 227px;
					height: 179px;
					border-bottom: 1px dotted #ccc;
					text-align: center;
					.clotheslogol {
						cursor: pointer;
						display: inline-block;
						width: 63px;
						height: 63px;
						background: url(../imgs/select-pet.png) 0 -253px no-repeat;
						margin-top: 25px;
					}
					.clotheslogor {
						cursor: pointer;
						position: absolute;
						left: 155px;
						top: 30px;
						width: 49px;
						height: 39px;
						background: url(../imgs/dog-cloth.jpg)no-repeat;
					}
					p {
						line-height: 24px;
						height: 24px;
						color: #999;
					}
					a {	
						display: inline-block;
						border: 1px solid #aeaeae;
						color: #aeaeae;
						width: 132px;
						height: 30px;
						line-height: 30px;
						text-align: center;
						border-radius: 3px;
						font-size: 12px;
						margin-top: 5px;
						margin-left: 0;
					}
					a:hover {
						background: #ebebeb;
					}
				}
				.cat {
					position: relative;
					width: 227px;
					height: 179px;
					border-bottom: 1px dotted #ccc;
					text-align: center;
					.catlogol {
						cursor: pointer;
						display: inline-block;
						width: 63px;
						height: 63px;
						background: url(../imgs/select-pet.png) 0 -63px no-repeat;
						margin-top: 25px;
					}
					.catlogor {
						cursor: pointer;
						position: absolute;
						left: 155px;
						top: 30px;
						width: 49px;
						height: 39px;
						background: url(../imgs/cat-cloth.jpg)no-repeat;
					}
					p {
						line-height: 24px;
						height: 24px;
						color: #999;
					}
					a {	
						display: inline-block;
						border: 1px solid  #e74085;
						color:  #e74085;
						width: 132px;
						height: 30px;
						line-height: 30px;
						text-align: center;
						border-radius: 3px;
						font-size: 12px;
						margin-top: 5px;
						margin-left: 0;
					}
					a:hover {
						background: #e74085;
						color: #fff;
					}
				}
			}
		}
		.logo-bottom-dog:hover {
			b {
				transform: rotate(180deg);
				transition-duration: 0.5s;
			}
			.logo-bottom-doggoods {
				display: block;
				z-index: 101;
			}
		}
		.logo-bottom-goods {
			position: relative;
			z-index: 100;
			a {
				margin-left: -15px;
				color: #444;
			}
			b {
				position: absolute;
				left: 85px;
				top: 13px;
				width: 13px;
				height: 7px;
				background: url(../imgs/bg2.png) -17px -1276px no-repeat;
			}
			width: 112px;
			height: 32px;
			border: 1px solid #e1e1e1;
			text-align: center;
			cursor: pointer;
			color: #666;
			line-height: 32px;
			border-left: none;

			.logo-bottom-goodsselect {
				display: none;
				width: 227px;
				position: absolute;
				left: -114px;
				top: 34px;
				background: #fff;
				ul {
					li {
						position: relative;
						width:226px;
						height: 44px;
						line-height: 44px;
						background: url(../imgs/menuLine1.png) 50% bottom no-repeat;

						.logo-bottom-goodsselect-1	{
							width: 100%;
							height: 100%;
							background: url(../imgs/bg2.png) right -1206px no-repeat;
							span:nth-of-type(1) {
								margin: 15px 8px 0 16px;
								float: left;
								width: 18px;
								height: 16px;
								background: url(../imgs/selectmenu.png) 100% 0 no-repeat; 
							}
							span:nth-of-type(2),
							span:nth-of-type(3) {
								float: left;
								width: 72px;
								height: 43px;
								font-size: 14px;
								i {
									color: #999;
									margin-left: 4px;
									width: 40px;
								}
								i:hover {
									color: #999
								}
							}
							span:nth-of-type(2):hover,
							span:nth-of-type(3):hover {
								color: #248DCC;
							}
						}
						.selectthird1 {
							display: none;
							position: absolute;
							left: 226px;
							top: -1px;
							-width: 570px;
							-padding: 10px 8px 0;
							border: 1px solid #62a727;
							background: #f5f5f5;
							line-height: 30px;
							height: 444px;
							box-shadow: 3px 3px 4px #777;
							.selectthird1-in {
								width: 550px;
								padding: 10px;
								background: #fff;
								min-height: 350px;
								.selectthird1-in-top {
									width: 550px;
									height: 205px;
									margin-bottom: 10px;
									.selectthird1-in-top1 {
										height: 40px;
										width: 100%;
										border-bottom: 1px dotted #ddd;
										img {
											width: 35px;
											height: 35px;
											margin-left: 10px;
											float: left;
										}
										a {
											float: left;
											font-size: 16px;
											line-height: 35px;
											height: 35px;
											margin-left: 10px;
										}
										span {
											float: left;
											width: 35px;
											height: 35px;
											background: url(../imgs/bg.png) -470px -240px no-repeat;
										}
										.selectthird1-in-topimg {
											width: 220px;
											height: 35px;
											margin-left: 10px;
											float: left;
										}
									}
									.selectthird1-in-top2 {
										height: 40px;
										width: 100%;
										line-height: 40px;
										border-bottom: 1px dotted #ddd;
										a {
											float: left;
											font-weight: 600;
											color: green;
											font-size: 12px;
											margin-left: 65px;
										}
										img {
											float: left;
											width: 25px;
											height: 25px;
											margin: 7px 0 0 10px;
										}
										span {
											float: left;
											width: 390px;
											height: 40px;
											line-height: 40px;
											ul {
												overflow: hidden;
												margin-top: 12px;
												margin-left: 10px;
												li {
													float: left;
													padding: 0 6px 0 7px;
													width: auto;
													height: 16px;
													line-height: 16px;
													border-left: 1px #ddd solid;
												}
												li:nth-of-type(5) {
													color: red;
												}
												li:hover {
													color: #248DCC;
												}
											}
											
										}
									}
								}
							}
						}
					}
					li:hover {
						background: none;
						border-top:1px solid #62a727;
						border-bottom:1px solid #62a727;
						width: 217px;
						border-right: #fff;
						padding-left: 10px;
						transition-duration: 0.3s;
						.logo-bottom-goodsselect-1 {
							background: none;
						}
						.selectthird1 {
							display: block;
						}
					}
					.selectmenu1 {
						.logo-bottom-goodsselect-1 {
							span:nth-of-type(1) {
								background: url(../imgs/selectmenu.png) 100% -34px no-repeat;
							}
						}
					}
					.selectmenu1:hover {
						.selectthird1 {
							top: -45px;
						}
					}
					.selectmenu2:hover {
						.selectthird1 {
							top: -89px;
						}
					}
					.selectmenu3:hover {
						.selectthird1 {
							top: -133px;
						}
					}
					.selectmenu4:hover {
						.selectthird1 {
							top: -177px;
						}
					}
					.selectmenu5:hover {
						.selectthird1 {
							top: -221px;
						}
					}
					.selectmenu2 {
						.logo-bottom-goodsselect-1 {
							span:nth-of-type(1) {
								background: url(../imgs/selectmenu.png) 100% -69px no-repeat;
							}
						}
						
					}
					.selectmenu3 {
						.logo-bottom-goodsselect-1 {
							span:nth-of-type(1) {
								background: url(../imgs/selectmenu.png) 100% -208px no-repeat;
							}
						}
					}
					.selectmenu4 {
						.logo-bottom-goodsselect-1 {
							span:nth-of-type(1) {
								background: url(../imgs/selectmenu.png) 100% -245px no-repeat;
							}
						}
					}
					.selectmenu5 {
						.logo-bottom-goodsselect-1 {
							span:nth-of-type(1) {
								background: url(../imgs/selectmenu.png) 100% -314px no-repeat;
							}
						}	
					}
					.selectmenusell {
						position: relative;
						width: 100%;
						height: 50px;
						line-height: 50px;
						cursor: pointer;
						img {
							width: 17px;
							height: 22px;
							float: left;
							margin: 14px 5px 0 20px;
						}
						a {	
							float: left;
							color: #22990d;
							font-size: 14px;
							height: 28px;
							line-height: 28px;
							margin: 11px 0 0 0; 
						}
						.selectmenusell-num {
							float: left;
							height: 20px;
							border-radius: 8px;
							color: #fff;
							background: #fb6003;
							padding: 0 9px;
							line-height: 20px;
							margin: 14px 0 0 10px;
							font-size: 14px; 
						}
						.selectmenusell-in {
							display: none;
							position: absolute;
							left: 226px;
							top: -265px;
							border: 1px solid #62a727;
							width: 778px;
							height: 444px;
							box-shadow: 3px 3px 4px #777;
							padding: 10px 8px 0;
							background: #fff;
							.selectmenusell-in-top {
								float: left;
								width: 778px;
								height: 374px;
								p {
									display: inline-block;
									width: 375px;
									height: 175px;
									float: left;
									background: pink;
									margin: 0 5px 10px 5px;
									img {
										width: 100%;
										height: 100%;
										margin: 0;
									}
								}
							}
							.selectmenusell-in-bottom {
								float: left;
								width: 778px;
								height: 52px;
								.selectmenusellarrow {
									float: left;
									width: 38px;
									height: 22px;
									border: 1px solid #379527;
									text-align: center;
									line-height: 22px;
									e {
										display: inline-block;
										background: url(../imgs/bg2.png) -18px -1285px no-repeat;
										width: 7px;
										height: 11px;
									}
									
								}
								.ssarrowl {
									margin: 10px 0 0 325px;
								}
								.ssarrowr {
									margin: 10px 0 0 0;
									e {
										background: url(../imgs/bg2.png) -25px -1285px no-repeat;
									}
								}
								div {
									height: 22px;
									text-align: center;
									line-height: 22px;
									margin: 10px;
									font-size: 12px;
								}
								a {
									img {
										margin: 5px 0 10px 210px; 
										width: 110px;
										height: 25px;
									}
								}
							}
						}
					}
					.selectmenusell:hover {
						.selectmenusell-in {
							display: block;
						}
						border-top:1px solid #62a727;
						border-bottom:1px solid #62a727;
					}
				}
			}
		}
		.logo-bottom-goods:hover {
				b {
					transform: rotate(180deg);
					transition-duration: 0.5s;
				}
				.logo-bottom-goodsselect {
					display: block;
				}
			}
		.logo-bottom-sell {
			width: 760px;
			line-height: 34px;
			height: 34px;
			ul {
				li {
					float: left;
					position:relative;
					padding: 0 25px;
					img {
						position: absolute;
						left: 88px;
						top: -10px;
					}
					a {
						font-weight: 600;
						font-size: 16px;
						color: #000;
						line-height: 34px;
						b {
							width: 13px;
							height: 17px;
							float: left;
							background: url(../imgs/bg2.png) -35px -1280px no-repeat;
							margin: 10px 5px 0 0;
						}
					}
				}
				li:hover {
					a {
						color: green;
					}
					b {
						transform: rotate(360deg);
						transition-duration: 0.5s;
					}
				}
			}
		}
	}
}

.allselection {
	height: 46px;
	width: 100%;
}
.selection {
	width: 1263px;
	height: 46px;
	margin: 0 auto;
	i {
		display: inline-block;
	    background: url(../imgs/bg2.png) -38px -1265px;
	    width: 5px;
	    height: 9px;
	    margin: 0 10px;
	}
	em {
		font-style: normal;
	}
	.selection-con {
		margin: 10px 0;
		border: 1px solid #ddd;
	    height: 24px;
	    line-height: 24px;
	    display: inline-block;
	    padding: 0 25px 0 8px;
	    background: #fff;
	    position: relative;
	    span {
	    	padding: 0 10px;
	    	cursor: pointer;
	    }
	    b {
		    position: absolute;
		    width: 9px;
		    height: 5px;
		    background: url(../imgs/bg2.png) -38px -1258px;
		    right: 15px;
		    top: 10px;
		}
	}
}

.alllist {
	width: 100%;
	background-color: #F5F5F5;
	height: 100%;
	.list {
		width: 1000px;
		height: 100%;
		margin: 0 auto;
		.list-top {
			background: #fff;
			width: 980px;
			height: 106px;
			.list-top-selection {
				width: 978px;
				border: 1px solid #ddd;
		        height: 53px;
		        .list-top-selection-left {
		        	height: 53px;
		        	width: 396px;
		        	a {
	        			float: left;
		        		span {
		        			height: 53px;
						    border-right: 1px solid #ddd;
						    display: block;
						    float: left;
						    padding: 0 23px 0 18px;
						    line-height: 53px;
						    cursor: pointer;
						    &:hover {
					    	    background: #53aa5b;
    							color: #fff;
						    }
		        		}
		        		.list-top-selection-active {
		        			background: #53aa5b;
							color: #fff;
		        		}
		        	}
		        	a:nth-of-type(2),
		        	a:nth-of-type(3),
		        	a:nth-of-type(4),
		        	a:nth-of-type(5) {
		        		span {
	        			    background: url(../imgs/goods-list-bg.png) no-repeat;
	        			    background-position: 34px 4px;
	        			    &:hover {
					    	    background: url(../imgs/goods-list-bg.png) no-repeat -30px 4px #53aa5b;
    							color: #fff;
						    }
		        		}
		        	}
		        	a:nth-of-type(6) {
		        		span {
	        			    background: url(../imgs/goods-list-bg.png) no-repeat;
	        			    background-position: 34px -172px;
	        			    &:hover {
					    	    background: url(../imgs/goods-list-bg.png) no-repeat 34px -172px #53aa5b;
    							color: #fff;
						    }
		        		}
		        	}

		        }
			}
			.list-top-address {
				border: 1px solid #ddd;
			    border-top: 0;
			    width: 976px;
			    height: 53px;
			    .list-top-address-left {
				    height: 53px;
				    padding: 0 0px 0 23px;
				    line-height: 53px;
				    float: left;
				    width: 180px;
			    	span {
			    		float: left;
			    	}
			    	div	{
			    		padding: 5px 15px 5px 5px;
					    line-height: 20px;
					    float: left;
					    width: auto;
					    min-width: 50px;
				        border: 1px solid #ddd;
					    padding: 5px 15px 5px 5px;
					    cursor: pointer;
					    margin-top: 10px;
					    text-align: center;
					    margin-left: 5px;
			    	}
			    }	        
			}
		}
		.list-bottom {
			width: 988px;
			height: 6625px;
			margin-top: 10px;
			.list-bottom-con {
			    width: 235px;
			    height: 418px;
			    display: inline;
		        position: relative;
			    float: left;
			    border: 1px solid #e6e6e6;
			    line-height: 18px;
			    margin: 5px 10px 10px 0;
			    overflow: hidden;
			    background-color: #FFF;
			    .list-bottom-content {
		    	    padding: 14px 10px 0 10px;
		    	    .list-bottom-content-img {
			    	    width: 200px;
					    height: 200px;
					    display: block;
					    margin: auto;
		    	    }
		    	    .list-bottom-content-text {
	    	    	    line-height: 17px;
					    height: 35px;
					    display: block;
					    width: 200px;
					    text-align: left;
					    overflow: hidden;
					    margin: 10px auto;
					    font-size: 14px;
					    a {
					    	span {
					    		color: #444;
					    		font-size: 14px;
					    	}
					    	span:hover {
					    		color: #248DCC;
					    	}
					    }
		    	    }
		    	    .list-bottom-content-price {
	    	    	    margin-bottom: 10px;
					    line-height: 15px;
					    display: block;
					    overflow: hidden;
					    text-align: center;
					    color: #999;
		    	    	span {
		    	    		float: left;
		    	    		margin-right: 5px;

		    	    	}
		    	    	span:nth-of-type(1) {
		    	    		text-decoration: line-through;
		    	    	}
		    	    	span:nth-of-type(2) {
		    	    		font-weight: bold;
   							color: #FF6600;
   							font-size: 16px;
		    	    	}
		    	    }
		    	    .list-bottom-content-sale {
	    	    	    margin-bottom: 10px;
					    line-height: 15px;
					    display: block;
					    overflow: hidden;
					    text-align: center;
					    color: #999;
		    	    	em {
		    	    		padding-left: 4px;
		    	    		float: left;
    						padding-right: 15px;
    						height: 21px;
						    background: none;
						    display: inline-block;
						    font-style: normal;
		    	    	}
		    	    }
		    	    .list-bottom-content-send {
	    	    	    margin-bottom: 10px;
					    line-height: 15px;
					    display: block;
					    overflow: hidden;
					    text-align: left;
					    color: #999;
		    	    }
		    	    .list-bottom-content-cart {
	    	    	    margin-top: 20px;
					    line-height: 30px;
					    display: block;
					    text-align: center;
					    color: #999;
					    cursor: pointer;
					    font-size: 22px;
					    &:hover {
					    	background: #53aa5b;
						    color: #fff;
					    }
		    	    }
			    }
			}
		}


	}
}