
//楼层
.floor {
	position: fixed;
	z-index: 1001;
	width: 40px;
	height: 500px;
	left: 10px;
	top: 250px;
	display: none;
	ul {
		width: 40px;
		height: 500px;
		.floor-active {
	    	border-bottom: 1px solid #d70b1c;
		    margin-bottom: -1px;
		    border-color: #d70b1c;
		    background-color: #d70b1c;
	    }
		li {
		    border-top: 1px solid #b1aaaa;
		    overflow: hidden;
		    display: block;
		    width: 30px;
		    padding: 10px 5px;
		    line-height: 14px;
		    font-size: 14px;
		    color: #fff;
		    background: #666;
		    cursor: pointer;
		    text-align: center;
		    &:hover {
		    	border-bottom: 1px solid #d70b1c;
			    margin-bottom: -1px;
			    border-color: #d70b1c;
			    background-color: #d70b1c;
		    }
		}
	}
}


//轮播图
.allbanner {
	width: 100%;
	height: 360px;
	.banner {
		width: 1423px;
		height: 360px;
		margin: 0 auto;
		position: relative;
		z-index: 10;
		.bannerleft {
			width: 1423px;
			height: 360px;
			position: absolute;
			left: 0;
			top: 0;
			cursor: pointer;
			.bannerimgbox {
				position: absolute;
				top: 0;
				left: 0;
				width: 1423px;
				height: 360px;
				overflow: hidden;
				.bannerimg.active {
					transform: scale(1);
				}
				.bannerimg {
					width: 770px;
					height: 360px;
					position: absolute;
					top: 0;
					left: 332px;
					margin: 0 auto;
					transform: scale(1.04);
					transition: all 4s;
				}
			}
			.bannernum {
				width: 770px;
				height: 21px;
				position: absolute;
				top: 320px;
				left: 332px;
				z-index:10;
				span {
					width: 21px;
					height: 21px;
					border-radius: 50%;
					background-color: #999;
					color: #fff;
					float: left;
					text-align: center;
					line-height: 21px;
					margin-right: 5px;
					cursor: pointer;
				}
				span:nth-of-type(1) {
					margin-left: 330px;
				}
				.active1 {
					background: #fff;
					color: #000;
				} 
			}
		}
		.bannerright {
			width: 200px;
			height: 360px;
			position: absolute;
			left: 1022px;
			top: 0;
			overflow: hidden;
			div {
				width: 200px;
				height: 119px;
				border-bottom: 1px dotted #ddd;
				position: absolute;
				left: 0;
				top: 0;
				transition: left 0.6s;
				img {
					height: 119px;
					width: 100%;
				}
			}
			div:nth-of-type(2) {
				top: 120px;
			}
			div:nth-of-type(3) {
				top: 240px;
			}
			div:hover {
				left: -15px;
			}
		}
	}
}
//每日疯抢
.allmadbuying {
	margin-top: 30px;
	width: 100%;
	height: 480px;
	.madbuying {
		width: 1200px;
		height: 480px;
		margin: 0 auto;
		.madbuyingleft {
			width: 328px;
			height: 460px;
			float: left;
			background: #ff827f;
			.madbuyinglefttop {
				padding-top: 50px;
				width: 252px;
				padding-left: 16px;
				height: 95px;
				margin-left: 30px;
			}
			.madbuyingleftmid {
				margin-left: 30px;
				width: 268px;
				height: 28px;
				line-height: 28px;
				font-size: 14px;
				text-align: center;
				color: #fff;
				margin-top: 45px;
			}
			.madbuyinglefttimer {
				margin-left: 30px;
				width: 268px;
				height: 45px;
				margin-top: 26px;
				span {
					float: left;
					width: 34px;
					height: 45px;
					background: #fff;
					color: #000;
					font-size: 32px;
					text-align: center;
					line-height: 45px;
					border-radius: 8px;
					margin-right: 5px;
				}
				span:nth-of-type(1) {
					margin-left: 10px;
				}
				b {
					float: left;
					font-size: 22px;
					color: #fff;
					font-weight: 600;
					width: 10px;
					line-height: 45px;
				}
			}
			.madbuyingleftbottom {
				margin-left: 30px;
				margin-top: 20px;
				padding-left: 63px;
				width: 205px;
				height: 52px;
				font-size: 40px;
				text-align: left;
				color: #fff;
				position: relative;
				font-weight: 600;
				span {
					background: url(../imgs/madbuyingicon.png) -14px -15px no-repeat ;
					position: absolute;
					width: 30px; 
					height: 30px;
					left: 180px;
					top: 14px;
				}
			}
			.madbuyinglefton {
				margin-left: 30px;
				width: 268px;
				height: 26px;
				font-size: 20px;
				margin-top: 5px;
				text-align: center;
				color: #fff;
			}
		}
		.madbuyingright {
			width: 870px;
			height: 458px;
			float: left;
			border:1px solid #e7e7e7;
			border-left: none;
			border-right: none;
			.madbuyingrighttop {
				position: relative;
				margin-left: 15px;
				width: 856px;
				height: 67px;
				ul {
					width: 826px;
					height: 67px;
					height: 66px;
				    border-bottom: 1px dashed #e7e7e7;
				    margin: 0 20px;
				    li {
				    	float: left;
			    	    width: 119px;
					    height: 45px;
					    color: #000;
					    padding: 18px 0px 3px 0px;
					    cursor: pointer;
					    position: relative;
					    i {
					    	display: none;
						    width: 44px;
						    height: 2px;
						    background: #ed4044;
						    position: absolute;
						    bottom: 0;
						    left: 0;
					    }
				    }
				    .madbuyingon {
				    	p {
				    		font-size: 14px;
	    					font-weight: 700;
	    					color: #ed4044;
				    	}
				    }
				    li:nth-of-type(1) {
				    	margin-left: 30px;
				    }
				    li:nth-of-type(7) {
				    	width: 79px;
				    }
				}
			}
			.madbuyingrightbottom {
				position: relative;
				margin-left: 15px;
				width: 856px;
				height: 364px;
				
				.madbuyingrightbottomgoods {
					overflow: hidden;
					width: 856px;
					height: 366px;
					position: absolute;
					ul:nth-of-type(4) {
						display: block;
					}
					ul {
						position: absolute;
						margin-top: 15px;
						height: 366px;
						display: none;
						width: 1498px;
						li {
							width: 171px;
							float: left;
							height: 328px;
							padding: 18px 20px 20px 20px;
							.madbuyingimg {
								width: 155px;
	   							height: 154px;
	   							cursor: pointer;
	   							img {
	   								-webkit-transition: all .5s ease;
	   								-moz-transition: all .5s ease;
	   								transition: all .5s ease;
	    							border: 1px solid #fff;
	    							width: 100%;
	    							height: 100%;
	   							}
	   							img:hover {
			   						transform: translateY(-5px);
								}
							}
							.madbuyingtitle {
								margin-top: 50px;
								font-size: 12px;
								color: #000;
								white-space: nowrap;
							    text-overflow: ellipsis;
							    overflow: hidden;
							    height: 16px;
							    width: 171px;
							    &:hover {
									color: #248DCC;
									cursor: pointer;
								}
							}

							.madbuyingprice {
								color: #dd2727;
								margin-top: 10px;
								width: 171px;
								height: 26px;
								font-size: 12px;
								span {
									float: left;
									line-height: 26px;
								}
								span:nth-of-type(2) {
									color: #dd2727;
									font-size: 20px;
								}
								span:nth-of-type(3) {
									text-decoration: line-through;
								    margin-left: 5px;
							        font-size: 12px;
							        color: #999;
								}
							}
							.madbuyingline {
							 	width: 171px;
							    height: 5px;
							    border-radius: 30px;
							    background: #d7d7d7;
							    margin-top: 20px;
							}
							.madbuyingover {
							    margin-top: 15px;
							    margin-left: 25px;
							    width: 171px;
							    height: 30px;
							    span {
							    	display: block;
							    	background: #cdcdcd;
								    width: 120px;
								    height: 30px;
								    line-height: 30px;
								    border-radius: 30px;
							    	cursor: pointer;
						    	    font-size: 14px;
						    	    color: #fff;
						    	    text-align: center;
							    }
							}
						}
					}
				}
				
				.madbuyingarrowl {
					width: 29px;
				    height: 64px;
				    background: url(../imgs/madbuyingicon.png) no-repeat;
				    background-position: -12px -76px;
				    position: absolute;
				    top: 122px;
				    left: -16px;
				    z-index: 100;
				    cursor: pointer;
				}
				.madbuyingarrowr {
					width: 29px;
				    height: 64px;
				    background: url(../imgs/madbuyingicon.png) no-repeat;
				    background-position: -45px -76px;
				    position: absolute;
				    top: 122px;
				    right: -5px;
				    z-index: 100;
				    cursor: pointer;
				}
			}

		}
		.madbuyingwave {
			height: 45px;
			background: url(../imgs/madbuyingwave.png) no-repeat;
			animation: 8s linear 0s none infinite tweenx;
			margin-top: 23px;
			-webkit-animation: 8s linear 0s none infinite tweenx;
			-moz-animation: 8s linear 0s none infinite tweenx;
		}
	}
}
//新品尝鲜
.allnewtaste {
	margin-top: 30px;
	width: 100%;
	height: 330px;
	.newtaste {
		width: 1200px;
		height: 330px;
		margin: 0 auto;
		.newtasteleft {
			width: 328px;
    		height: 330px;
    		position: relative;
    		float: left;
    		.newtastelefcover {
    			background: #ed499b; 
    			opacity: 0.8;
    			width: 245px;
			    height: 200px;
			    position: absolute;
			    bottom: 20px;
			    left: 41px;
			    .newtasteleftall {
	    			width: 233px;
				    height: 188px;
				    position: absolute;
				    top: 5px;
				    left: 5px;
				    border: 1px solid #fff;
				    .newtasteleftall1 {
				    	font-size: 45px;
				    	width: 233px;
				    	height: 60px;
				    	text-align: center;
				    	color: #fff;
				    }
				    .newtasteleftall2 {
				    	width: 233px;
				    	height: 16px;
				    	font-size: 12px;
				    	text-align: center;
				    	color: #fff;
				    }
				    .newtasteleftall3 {
				    	width: 233px;
				    	height: 16px;
				    	margin-top: 5px;
				    	img {
				    		margin-left: 18px;
				    	}
				    }
				    .newtasteleftall4 {
				    	width: 233px;
				    	height: 16px;
				    	font-size: 12px;
				    	text-align: center;
				    	color: #fff;
				    }
				    .newtasteleftall5 {
				    	width: 233px;
				    	height: 26px;
				    	font-size: 20px;
				    	text-align: center;
				    	color: #fffc00;
				    }
				    .newtasteleftall6 {
				    	background: #fffc00;
					    height: 30px;
					    line-height: 30px;
					    position: absolute;
					    bottom: 0;
					    text-align: center;
					    left: 0;
					  	width: 233px;
					  	a {
					  		color: #444;
					  	}
					  	a:hover {
					  		color: #248DCC;
					  	}
				    }
	    		}
    		}
    		
		}

		.newtasteright {
			width: 871px;
  			height: 328px;
  			border: 1px solid #e7e7e7;
  			float: right;
  			border-left: 0;
  			cursor: pointer;
  			ul {
				width: 873px;
				height: 326px;
				li {
					padding: 30px 0 30px 30px;
    				width: 261px;
    				float: left;
    				.newtasterighttop {
					    padding-right: 30px;
						border-right: 1px solid #e7e7e7;
						width: 230px;
						height: 132px;
						h2 {
							font-weight: 600;
						    white-space: nowrap;
						    text-overflow: ellipsis;
						    overflow: hidden;
						    color: #333;
						    font-size: 14px;
						    width: 230px;
							height: 19px;
						}
						p:nth-of-type(1) {
							white-space: nowrap;
						    text-overflow: ellipsis;
						    overflow: hidden;
						    color: #999;
						    font-size: 12px;
						    width: 230px;
							height: 16px;
							margin-top: 5px;
						}
						.newtasterighttopprice {
							color: #FF0000;
						    font-size: 14px;
						    width: 230px;
							height: 19px;
							margin-top: 10px;
						}
						div {
						    width: 230px;
							height: 43px;
							margin-top: 20px;
							p {
								white-space: nowrap;
							    text-overflow: ellipsis;
							    overflow: hidden;
							    margin-top: 5px;
							    width: 230px;
								height: 16px;
								color: #999;
							}
						}
    				}
    				.newtasterightbottom {
					    margin-top: 15px;
				        position: relative;
				        width: 261px;
				        height: 119px;
				        img {
				        	position: absolute;
						    top: -10px;
						    right: 0px;
						    width: 145px;
						    height: 145px;
						    z-index: -1;					        text-align: right;
				        }
    				}
				}
  			}
		}
	}
}
//detail 
.alldetail,
.alldetail1,
.alldetail2,
.alldetail3,
.alldetail4,
.alldetail5 {
	height: 580px;
	width: 100%;
	margin-top: 30px;
	.detail {
		height: 580px;
		width: 1200px;
		margin: 0 auto;
		.detailtop {
			padding-bottom: 10px;
		    color: #333;
	        font-size: 20px;
	        height: 26px;
			width: 1200px;
			i {
				width: 30px;
				height: 30px;
			    float: left;
			    margin-right: 5px;
			    background: url(../imgs/index-detailbg1.png) no-repeat;
			}
		}
		.detailmiddle {
			height: 477px;
			width: 1200px;
			.detailmiddlel {
			    width: 328px;
				height: 477px;
				position: relative;
				float: left;
				.detailmiddlelb {
					position: absolute;
					background: rgba(255,255,255,0.8);
				    width: 398px;
				    height: 148px;
				    left: 0;
				    bottom: 0;
				    padding: 15px;
				    .detailmiddlelbt {
				    	color: #666;
				    	span {
				    		float: left;
				    		width: 87px;
				    		line-height: 30px;
				    		height: 30px;
				    	}
				    	i {
				    		float: left;
			    		    margin-left: 10px;
		    		        width: 27px;
						    height: 27px;
						    background: url(../imgs/madbuyingicon.png) no-repeat; 
						    background-position: -113px -170px;
				    	}
				    	b {
				    		float: left;
				    		margin: 5px 15px 0 5px;
				    		color: #666;
			    		    font-size: 14px;
			    		    width: 59px;
			    		    height: 19px;
			    		    line-height: 19px;
			    		    display: inline-block;
				    	}
				    }
				    .detailmiddlelbb {
				    	width: 315px;
    					height: 102px;
    					margin-top: 10px;
    					li {
    					    width: 87px;
						    height: 24px;
						    line-height: 24px;
						    margin-top: 10px;
					        float: left;
				            text-align: center;
				            border-radius: 30px;
    						margin-right: 18px;
    						background: #fff;
						    color: #444;
						    cursor: pointer;
    					}
				    }
				}
			}
			.detailmiddler {
			    width: 872px;
			    height: 476px;
				border-top: 1px solid #459d36;
				position: relative;
			    float: right;
			    .detailmiddlercover {
			    	position: absolute;
			    	border-right: 1px solid #e7e7e7;
				    top: -35px;
				    right: 0;
				    width: 872px;
				    height: 35px;
				    text-align: right;
				    ul {
			    	    border-left: 1px solid #e7e7e7;
    					margin-right: 0px;
    					width: 410px;
    					height: 35px;
    					float: right;
    					li {
    						cursor: pointer;
    						float: left;
    						border-bottom: 1px solid #459d36;
						    border-left: #fff;
						    height: 33px;
						    border-top: 1px solid #e7e7e7;
						    span {
						    	padding: 0 15px;
						    	margin-top: 7px;
							    border-right: 1px solid #e7e7e7;
							    font-size: 14px;
							    display: block;
							    text-align: center;
						    }
    					}
    					.detailmiddlerchover {
    						border-left: 1px solid #459d36;
						    border-right: 1px solid #459d36;
						    border-top: 1px solid #459d36;
						    margin-left: -2px;
						    border-bottom: 1px solid #fff;
    					}
				    }
			    }
			    .detailmiddlerprod {
			    	width: 872px;
			    	height: 476px;
			    	position: absolute;
			    	ul {
			    		width: 872px;
			    		height: 476px;
			    		li {
			    			border-bottom: 1px solid #e7e7e7;
						    border-right: 1px solid #e7e7e7;
						    width: 197px;
						    padding: 10px;
						    height: 217px;
					        float: left;
					        cursor: pointer;
					        .detailmiddlerprodimg {
					        	width: 200px;
    							text-align: center;
    							height: 161px;
    							img {
    								cursor: pointer;
    								width: 156px;
    								height: 156px;
    								transition: all .5s ease;
    								margin-left: 22px;
    								margin-top: 2px;
    							}
    							img:hover {
    								transform: translateY(-5px);
    							}
					        }
					        h2 {
				        	    height: 32px;
				        	    color: #666;
				        	    width: 197px;
					        }
					        .detailmiddlerprodprice {
					        	margin-top: 5px;
					        	font-size: 16px;
					        	color: #dd2727;
					        }
			    		}
			    	}
			    }
			}
		}
		.detailbottom {
			border-right: 1px solid #e7e7e7;
    		border-bottom: 1px solid #e7e7e7;
    		width: 1199px;
    		height: 66px;
    		li {
    			width: 148px;
			    height: 58px;
			    border-left: 1px solid #e7e7e7;
			    text-align: center;
			    padding-top: 8px;
			    float: left;
			    cursor: pointer;
			    img {
		    	    width: 100px;
				    height: 48px;
				    margin-left: 25px;
			    }
    		}
		}
	}
}

//E宠头条
.allheadline {
	height: 340px;
	width: 100%;
	margin-top: 30px;
	.headline {
		height: 340px;
		width: 1200px;
		margin: 0 auto;
		.headline-top {
			width: 1200px;
			height: 26px;
		    font-size: 20px;
		}
		.headline-bottom {
			width: 1200px;
			height: 304px;
			margin-top: 10px;
			.headline-bottom-left {
				border: 1px solid #e7e7e7;
				float: left;
			    width: 853px;
			    height: 302px;
			    overflow: hidden;
			    ul {
			    	li {
		    		    margin: 20px;
					    border-bottom: 1px solid #e7e7e7;
					    padding-bottom: 20px;
					    height: 111px;
					    overflow: hidden;
					    .headline-bottom-leftimgs {
				    	    width: 180px;
    						height: 110px;
    						float: left;
    						a {
    							img {
    								width: 180px;
    								height: 110px;
    							}
    						}
					    }
					    .headline-bottom-lefttext {
				    	    width: 616px;
  						  	height: 110px;
  						  	float: right;
  						  	h2 {
					  		    width: 616px;
					  		    font-size: 16px;
					  		    color: #333;
					  		    &:hover {
					  		    	color: #248DCC;
					  		    	cursor: pointer;
					  		    }
					  		    span {
					  		    	float: right;
					  		    	color: #999;
					  		    	font-size: 12px;
					  		    }
  						  	}
  						  	p {
  						  		height: 67px;
    							line-height: 22px;
    							margin-top: 20px;
    							color: #999;
    							font-size: 14px;
    							cursor: pointer;
  						  	}
					    }
			    	}
			    }
			}
			.headline-bottom-right {
				float: right;
				width: 330px;
   				height: 303px;
			}
		}
	}
}
//E宠口碑
.allpraise {
	height: 490px;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	.praise {
		height: 490px;
		width: 1200px;
		margin: 0 auto;
		.praise-top {
			width: 1200px;
			height: 26px;
		    font-size: 20px;
		    position: relative;
		    span {
		    	position: absolute;
		    	right: 0;
		    	top: 0;
		    	font-size: 12px;
		    	color: #999;
		    }
		}
		.praise-bottom {
			border: 5px solid #ededed;
    		padding: 20px 20px 15px;
    		margin-top: 10px;
    		height: 409px;
    		width: 1150px;
			overflow: hidden;
			position: relative;
    		ul {
    			width: 11800px;
    			position: absolute;
			    height: 409px;
    			li {
				    float: left;
				    width: 1170px;
				    height: 409px;
				    overflow: hidden;
				    position: relative;
				    margin-right: 10px;
	    		}
    		}
    		.praise-bottom-btn {
			    position: absolute;
			    width: 100%;
			    height: 20px;
			    padding: 0 10px;
			    z-index: 20;
			    right: 0;
			    bottom: 6px;
			    text-align: center;
			    left: 30%;
			    top: 400px;
    			span {
    				float: left;
				    width: 10px;
				    height: 10px;
				    background: #eeefef;
				    border-radius: 20px;
				    margin-left: 6px;
				    cursor: pointer;
				    margin-top: 2px;
				    display: block;
				    padding-left: 0;
    			}
    			.praise-bottom-btn-on {
    				background: #a7cca3;
				    width: 25px;
				    padding-left: 0;
    			}
    			
    		}
		}
	}
}
